<nav class="navbar navbar-inverse">
  <div class="container">
    <h1>Movies</h1>


  </div>
</nav>

<div class="container">
  <div class="well well-lg">
    <form (ngSubmit)='onSubmit()' #movieForm="ngForm">
      <div class="form-group">
        <input required type="text" class='form-control' placeholder="movie" [(ngModel)]='movieQuote.movie' name='movie'>
      </div>
      <div class="form-group">
        <input type="text" class='form-control' placeholder="quote" [(ngModel)]='movieQuote.quote' name='quote'>
      </div>
      <p>
        The best quote from <b>{{movieQuote.movie}}</b> is <b>"{{movieQuote.quote}}"</b>
      </p>
      <button class="btn btn-default pull-right" [disabled]='!movieForm.valid' >Submit</button>
      <div class="clearfix"></div>
    </form>
  </div>
</div>
